<h1>Add a type of animal</h1>
<p>Add a type of animal here:</p>

<form action="/types" method="post">
  <label for="typeName">Type name</label>
  <input id="typeName" name="typeName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to types of animals.</a></p>