<h1>Animal Shelter Animal Details: </h1>

<h2>@Model["animal"].GetName()</h2>
<h3>Type: @Model["type"].GetName()</h3>

<a href='/types/@Model["type"].GetId()/animals/new'>Add another item</a>
<a href='/types'>View all types</a>